a.card:hover {
    text-decoration:none;
}

.card{
    position: relative;
    background-color: #646262;
    display:block;
    overflow:hidden;
    height:100%;


    figure{
        .image-wrapper{
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center top;
        }


        &.video {

            &:after{
                position: absolute;
                top: 45%;
                left: 45%;
                content: '';
                width: 56px;
                height: 56px;
                background-image: url(../images/play-icon.svg?ver=1);
                background-repeat: no-repeat;
                background-size: cover;

                @media screen and (max-width: $md-break){
                    top: 40%;
                    left: 35%;
                    width: 40px;
                    height: 40px;
                }

                @media screen and (max-width: $sm-break){
                    width: 30px;
                    height: 30px;
                }
            }

        }



        img{
            max-width: 100%;
        }
    }
    
    time{
        display: block;
        font-size: ((11px / $font-size-base) + $font-unit); //11px
        font-weight: 600;
        color: #808285;
    }


    .author{
        font-size: ((10.8px / $font-size-base) + $font-unit); //10.8px
        font-weight: 900;
        background-color: #231f20;
        color: #fefefe;
        display: inline-block;
        padding: 3px;
        text-transform: uppercase;

        &.yellow{
            background-color: #ffff00;
            color: #1a1818;
        }
    }

    .article-icon{
        background-size: cover;
        display: inline-block;
        width: 36px;
        height: 36px;
        margin-bottom: 17px;
    }

    .category{
        background-color: #231f20;
        color: #fefefe;
        font-weight: 900;
        font-size: ((12px / $font-size-base) + $font-unit); //12px
        text-transform: uppercase;
        padding: 4px 5px;
        margin-bottom: 17px;

        @media screen and (max-width: $sm-break){
            padding:9px 15px;
        }
    }

    h2{
        margin-bottom: ((14px / $font-size-base) + $font-unit); //14px
        font-size: ((20px / $font-size-base) + $font-unit);
    }

    .author{
        margin-bottom: ((20.9px / $font-size-base) + $font-unit);
    }

    &.facebook {
        color:black;
        span.category {
            display:none;
        }
        figure { 
            display:none;
        }
        .article-icon{
            background-image: url(../icons/facebook-white.svg);
        }
    }

    &.twitter{
        span.category {
            display:none;
        }

        .article-icon{
            background-image: url(../icons/twitter-white.svg);
        }
    }

    &.instagram{

        h2 {
            display:none;
        }

        .article-icon{
            background-image: url(../icons/instagram-white.svg);
        }
    }

    &.youtube{

        .article-icon{
            background-image: url(../icons/youtube-white.svg);
        }
    }

    &.vimeo{
        .article-icon{
            background-image: url(../icons/vimeo-white.svg);
        }
    }

    &.other {
        // color:black;
        .category{
            display: inline-block;
        }

        .article-icon{
            display: none;
        }
    }
}
/*! Overlay Button */
.btn_overlay {
    top:20px;
    left:20px;
    width:auto;
    z-index:99;
    width:28px;
    position:absolute;
    visibility:hidden;
    @include opacity(0);
    @include transition((opacity(0), 2s ease-out));
    background:transparent none repeat scroll 0 0;

    .btnhide {
        float:left;
        width:28px;
        color:#ededed;
        border:0 none;
        margin:0px 0px;
        min-height:28px;
        max-height:28px;
        line-height:28px;
        position:relative;
        @include border-radius(0px);
        // font-size:($baseFontSize * 1);
        border:1px solid rgba(black, 0.9);
        @include transition(all 0.5s ease 0s);
        background:none repeat scroll 0 0 rgba(black, 0.9);

        &:not(:first-child) {
            border-top:0px none!important;
        }

        &:hover, &:active {
            border:1px solid rgba(black, 0.1);
            background:none repeat scroll 0 0 rgba($blue, 0.9);
        }

        .fa {
            // font-size:($baseFontSize * 1) + 2;
        }

        .fa-thumb-tack {
            @include transform(rotate(-33deg));

            &::after {
                left:5%;
                right:5%;
                z-index:0;
                height:6%;
                bottom:-5%;
                content:"";
                position:absolute;
                @include border-radius(70%);
                @include transform(scaleY(0.1));
                @include box-shadow((0 0 6px 6px rgba(0,0,0,0.1), 0 0 15px 10px rgba(0,0,0,0.1), inset 0 0 10px 20px rgba(0,0,0,0.25)));
            }
        }
    }
}

/*! Overlay Button Tooltips */
.social-tooltip {
    z-index:98;
    color:$white;
    display:inline;
    position:relative;
    // font-size:($baseFontSize * 1) - 2;
    &.selected {
        background:none repeat scroll 0 0 rgba($blue ,0.95);
        border-color:rgba($blue ,0.95);
    }
    &:hover {
        color:$white;
        text-decoration:none;

        &:after {
            top:3px;
            left:40px;
            color:$white;
            display:block;
            line-height:1.3;
            font-weight:400;
            padding:5px 8px;
            position:absolute;
            white-space:nowrap;
            content:attr(title);
            @include border-radius(3px);
            // font-size:($baseFontSize * 1) - 2;
            -webkit-box-shadow:0 0 2px rgba($black ,0.2);
            @include box-shadow(0 0 2px rgba($black ,0.2));
            background:none repeat scroll 0 0 rgba($blue ,0.95);
        }

        &:before {
            top:11px;
            left:35px;
            z-index:1;
            border:solid;
            border-color:transparent rgba($blue ,0.95);
            border-width:5px 5px 5px 0;
            content:" ";
            display:block;
            position:absolute;
        }
    }
}

.card {
    &:hover, &:focus, &:active {
        .btn_overlay {
            visibility:visible;
            @include opacity(1);
            @include transition((opacity(1), 2s ease-out));
        }
    }
}

.col-two-thirds, .col-full {
    .btn_overlay {
        left:auto;
        right:20px;
    }

    .social-tooltip {

        &:hover {

            &:after {
                left:auto;
                right:40px;
            }

            &:before {
                left:auto;
                right:35px;
                border-width:5px 0 5px 5px;
            }
        }
    }
}
