.card-md{

    .card{
        max-height:392px;
        height: 392px;
        overflow: hidden;
        margin-bottom: 30px;
        color:#fefefe;

        @media screen and (max-width: $mobile-break){
            height: 210px;
        }



        .article-icon{
            width: 38px;
            height: 37px;
        }


        figure{
            position: absolute;
            z-index: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            &:after{
                content: '';
                opacity: 0.3;
                background-color: #231f20;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
            }

        }
        

        .content{
            position: relative;
            z-index: 1;
            text-align: center;
            color: #fefefe;
            padding-top: 280px;
            padding-left: 40px;
            padding-right: 40px;
            // padding-bottom: 35px;

            @media screen and (max-width: $mobile-break){
                padding: 110px 20px 35px 20px;
            }

            .category{
                position: absolute;
                right: 0;
                top: 0;
                background-color: $brand-yellow;
                color: #1a1818;
                @media screen and (max-width: $mobile-break){
                    font-size: rem(8);
                    font-weight:900;
                    padding: 5px 8px;
                }
            }




            .article-icon {
                order: 1;
                margin: auto;
                margin-bottom:12px;
            }

            h2 {
                order: 3;
                text-transform: uppercase;
                line-height: 28.0px;
                height:auto;
                max-height:70px;
                margin-bottom:9px;

                @media screen and (max-width: $mobile-break) {
                    line-height:1.3em;
                    font-size:  rem(18);
                    max-height:50px;

                }
            }

            p {
                order: 4;
                display: none;
                @media screen and (max-width: $sm-mobile-break){
                    display: none;
                }
            }

            time{
                display:none;
            }
            
            .author{
                order: 2;
                background-color: transparent;
                color: #fefefe;
                margin-bottom:0;
                @media screen and (max-width: $mobile-break) {
                    font-size: rem(9);
                    font-weight:900;
                }

            }


        }

        .share{
            display: none;
        }


        &.social {
            .content{

                padding-top: 110px;

                > p {
                    height:80px;
                    max-height:80px;
                    display:block;
                }

                .author {
                    margin-bottom:12px;
                }
            }
        }


        &.twitter{


            .content{

                time{
                    margin-bottom: 5px;
                }
            }
        }

        &.instagram{

            .content{

                time{
                    margin-bottom: 5px;
                }
            }
        }

        &.youtube{
            .content{

                time{
                    margin-bottom: 5px;
                }
            }
            figure {
                > div {
                    background-size: 650px 520px;
                    background-position: -35px -65px;
                }

                &.video {
                    &:before{
                        top: 80%;
                    }
                }
            }

        }

        &.vimeo{
            
            figure {
                &.video {
                    &:before{
                        top: 80%;
                    }
                }
            }

            .content{

                time{
                    margin-bottom: 5px;
                }
            }
        }

        &.soundcloud{
            figure{
                bottom: 87px;
            }

            .article-icon{
                display: none;
            }

            .content{
                padding-top: 83px;
            }

            .other-content{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 87px;
            }
        }
    }
}
