.card-sm {
    .card{
        min-height: 392px;
        max-height:392px;
        overflow: hidden;
        background-color: #e5e6e7;
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 30px;
        color:#fefefe;
        

        @media screen and (max-width: $sm-break){
            max-height:none;
        }

        figure{
            margin-left: -12px;
            margin-right: -12px;
            margin-bottom: 32.5px;
            height: 172px;
            position: relative;

            @media screen and (max-width: $sm-break){
                height:272px;
            }

        }



        article > .other-content:first-child {
            margin-bottom: 26px;
        }

        .other-content{
            margin-bottom: 5px;
        }


        article {
            .content {

                .category{
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: $brand-yellow;
                    color: #1a1818;

                }

                h2{
                    margin-top:5px;
                    margin-bottom: 9px;
                }

                .share-icon{
                    display: none;
                }


                time {
                    // @media screen and (max-width: $sm-break){
                    //     font-size:  ((14px / $font-size-base) + $font-unit);
                    // }
                }

                p {
                    // max-height:110px;
                    overflow: hidden;
                    font-weight: 500;
                }
            }
        }



        &.without__image {
            padding-top:100px;
        }


        &.other{
            border-bottom: solid 5.6px #231f20;
            padding-left: 0;
            padding-right: 0;
            background-color: transparent;
            color:black;

            @media screen and (max-width: $sm-break){
                border-bottom: solid 8px #231f20;
            }



            h2 {
                height:44px;
                overflow:hidden;

                @media screen and (max-width: $sm-break){
                    margin-top:10px;
                    margin-bottom:20px;
                    height:32px;
                    font-size:  ((19px / $font-size-base) + $font-unit);
                }

                @media screen and (max-width: $mobile-break){
                    font-size:  ((25px / $font-size-base) + $font-unit);
                    height:60px;
                }
            }

            .author{
                @media screen and (max-width: $sm-break){
                    padding:8px;
                }
            }


            p {
                max-height:55px;

                @media screen and (max-width: $mobile-break){
                    font-size:  ((15px / $font-size-base) + $font-unit);
                }
            }

            figure{
                margin-left: 0;
                margin-right: 0;
                position:relative;
            }

            article > .content:first-child {
                padding-top: 87px;
            }
        }



        &.facebook{
            color:black;

            .content {
                margin-top: -50px;
                position: relative;

                time {
                    margin-bottom: 5px;
                }


                figure{
                    border-bottom: 7.4px solid #FFF;
                    max-height: 172px;
                    overflow: hidden;
                }

                h2 {
                    display: none;
                }

                .article-icon {
                    background-image: url(../icons/facebook-blk.svg);
                }
            }

            article > .content:nth-child(2) {
                padding-top: 71px;
                margin-top: 0;
            }

        }

        &.twitter {
            color:black;
            background-color: $brand-yellow;
            
            figure{
                border-bottom: 7.4px solid #FFF;
                max-height: 172px;
                overflow: hidden;
            }


            .content {
                position: relative;
                margin-top: -50px;

                p {
                    font-size: 16px;
                    font-weight: bold;
                    color: #1a1818;

                    a{
                        color: #0099cc;
                    }
                }

                .article-icon {
                    background-image: url(../icons/twitter-blk.svg);
                }

                h2 {
                    display: none;
                }

                time{
                    margin-bottom: 5px;
                    color: #808285;
                }
            }



            article > .content:first-child {
                padding-top: 71px;
                margin-top: 0;
            }

        }


        &.instagram {
            background-color: #4a494a;

            figure{
                border-bottom: 7.4px solid #FFF;
                max-height: 172px;
                overflow: hidden;
            }

            &.no-caption figure {
                max-height: 280px;
                height: 294px;
            }


            .content {
                position: relative;
                margin-top: -50px;

                p {
                    font-size: 14px;
                    font-weight: 500;
                    color: #ffffff;

                    a {
                        color: #ffffff;
                    }
                }

                time {
                    margin-bottom: 5px;
                    color: #bdbebf;
                }

                .article-icon {
                    background-image: url(../icons/instagram-blk.svg);
                }
            }

            article > .content:first-child {
                padding-top: 71px;
                margin-top: 0;
            }

        }

        &.youtube {
            padding-left: 0;
            padding-right: 0;
            background-color: transparent;
            border-bottom: solid 5.6px #231f20;

            figure {
                border-bottom: 7.4px solid #FFF;
                max-height: 172px;
                overflow: hidden;

            }
            .content {
                position: relative;
                margin-top: -50px;

                p{
                    font-size: 14px;
                    font-weight: 500;
                    color: #000;

                    a{
                        color: #ffffff;
                    }
                }

                .article-icon {
                    margin-left: 13px;
                    background-image: url(../icons/youtube-blk.svg);
                }
            }

            article > .content:first-child {
                padding-top: 71px;
                margin-top: 0;
            }

        }

        &.vimeo{
            padding-left: 0;
            padding-right: 0;
            background-color: transparent;

            figure{
                border-bottom: 7.4px solid #FFF;
                max-height: 172px;
                overflow: hidden;

            }

            .content {
                position: relative;
                margin-top: -50px;


                .article-icon {
                    margin-left: 13px;
                    background-image: url(../icons/vimeo-blk.svg);
                }
            }

            article > .content:first-child {
                padding-top: 71px;
                margin-top: 0;
            }

        }

        &.soundcloud{
            padding-left: 0;
            padding-right: 0;
            background-color: transparent;
            color:black;

        p {
            max-height:75px;
            overflow: hidden;
            text-overflow: ellipsis;
        }


            h2 {
                display:none;
            }

            .author{
                margin-bottom: 5px;
            }


            figure{
                max-height: 172px;
                margin-bottom: 0;
                border: 0;
            }

            time{
                margin-bottom: 5px;
            }

            .other-content{
                height: 88.5px;
                overflow: hidden;
            }

            .article-icon {
                display: none;
            }

            h2{
                margin-top: 5px;
            }

        }

    }
}