<footer class="site-footer">
        <section class="footer-signup">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-8">
                        <p>GET CENTRAL NEWS DIRECT TO YOUR INBOX</p>
                    </div>
                    <div class="col-md-3 col-sm-4 text-right">
                        <form class="footer-subscribe" method="get" id="subscribe-form" action="#">
                            <label for="header-search" class="assistive-text sr-only">Search</label>
                            <div class="input-group">
                                <input type="email" class="field form-control" name="email" placeholder="Email" required="">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" id="searchsubmit">
                                        <span class="icon-submit-blk icon"></span>
                                    </button>
                                </span>
                        </div>
                    </form>
                </div>
            </div><!--row-->
        </div><!--container-->
    </section><!--footer-signup-->

    <section class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xxs-2">
                <a class="navbar-brand" href="#" rel="Home" tabindex="-1" title="Home">
                        <img src="{{network.templatePath}}/static/images/CN-logo.png" alt="UTL Logo">
                    </a>
                </div><!--col-sm-2-->
                {% set menuItems = blog.blogFooterMenu %}

                <div class="col-sm-2 hidden-xxs footer-links">
                    <ul>
                    {% for menu in menuItems %}
                        <li><a href="{{menu.link}}">{{menu.blogTitle}}</a></li>
                    {% endfor %}
                    </ul>
                </div><!--col-sm-2-->


                <div class="col-sm-2 col-xxs-8 pull-right show-xxs">
                    <div class="social-links">
                        <a href="https://www.facebook.com/centralnews.com.au/" class="icon facebook"><span class="sr-only">Facebook</span></a>
                        <a href="https://twitter.com/centralnewsuts" class="icon twitter"><span class="sr-only">Twitter</span></a>
                        <a href="https://www.instagram.com/centralnewsuts/" class="icon instagram"><span class="sr-only">Instagram</span></a>
                    </div>
                </div>

            </div><!--row-->

            <div class="row">
                <div class="col-sm-10 col-sm-offset-2 hidden-xxs">
                    <div class="social-links">
                        <a href="https://www.facebook.com/centralnews.com.au/" class="icon facebook"><span class="sr-only">Facebook</span></a>
                        <a href="https://twitter.com/centralnewsuts" class="icon twitter"><span class="sr-only">Twitter</span></a>
                        <a href="https://www.instagram.com/centralnewsuts/" class="icon instagram"><span class="sr-only">Instagram</span></a>
                    </div>
                </div>
            </div><!--row-->
        </div><!--container-->
    </section><!--footer-content-->
</footer><!--site-footer-->